* {
    margin: 0;
    box-sizing: border-box;
}

header>h1,h2 {
    text-align: center;
    font-family: 'Poppins';
}

header>h2 {
    font-weight: 300;
    margin-bottom: 1.5vh;
}

hr {
    width: 70vw;
    margin-right: 15vw;
    margin-left: 15vw;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3vw;
}

div>section {
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 25%;
    margin-top: 10vh;
    font-family: 'Poppins';
}

img>table {
    height: 70%;
}

th {
    border: solid black 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(145, 195, 255);
}

#team-cell{
    width: 50%;
}

#rank-cell{
    width: 25%;
}

td {
    border: solid black 1px;
    text-align: center;
}

.nation{
    text-align: start;
    padding-left: 5px;
}

tr:hover {
    background-color: #e9e7e7;
}

tr:hover .nohover {
    background-color: #ffffff;
}
